@import "colors";

article {
	$top-padding: 8rem;
	width: 100%;
	display: flex;
	flex-direction: row;
	padding-top: 5rem;

	// table of contents
	aside {
		position: fixed;
		width: 100vw;
		top: 3.5rem;
		left: 0;
		background: mix($color-bg, $color-nav);

		nav {
			height: 0;
			overflow-y: hidden;
			transition-property: height;
			transition-duration: 500ms;

			&:before {
				position: absolute;
				top: 0.75rem;
				right: 0.75rem;
				content: '▼';
				transition-property: transform;
				transition-duration: 500ms;
			}

			> ul {
				margin-bottom: 2rem;
			}
		}

		label {
			padding: 0.75rem;
			display: block;
			position: relative;
		}

		input {
			display: none;

			&:checked {
				+ nav {
					height: 40vh;
					overflow-y: auto;

					&:before {
						transform: rotate(180deg);
					}
				}
			}
		}

		ul {
			padding-inline-start: 2em;

			li {
				padding-top: 0.5em;
			}
		}

		@media (min-width: 36rem) {
			position: relative;
			width: 22rem;
			top: 0;
			left: auto;
			background: transparent;
			height: auto;

			label {
				display: none;
			}

			nav {
				position: sticky;
				top: $top-padding;
				padding-right: 2rem;
				height: auto;

				&:before {
					display: none;
				}
			}
		}
	}

	// article content
	section {
		flex-basis: 37.5rem;
		padding-bottom: 30vh;

		// This gives some room when using the ToC
		> [id] {
			padding-top: calc(#{$top-padding} + 0.8em);
			margin-top: -1 * $top-padding;
		}

		@media (min-width: 30rem) {
			margin-right: 2rem;
		}

		@media (min-width: 64rem) {
			margin-right: 7rem;
		}
	}

	pre {
		position: relative;
		height: 0;
		top: -2em;

		[data-lang^="rating"] {
			&:before, &:after {
				position: absolute;
				width: 2rem;
				left: -2.1rem;
				text-align: center;
			}

			&:before {
				top: -0.6rem;
			}

			&:after {
				top: 0;
			}
		}

		@mixin rating-dots($name, $before, $after: '') {
			[data-lang="#{$name}"] {
				&:before {
					content: "#{$before}";
				}
				&:after {
					content: "#{$after}";
				}
			}
		}

		@include rating-dots('rating-1', '•');
		@include rating-dots('rating-2', '•', '•');
		@include rating-dots('rating-3', '••', '•');
		@include rating-dots('rating-4', '••', '••');
		@include rating-dots('rating-5', '•••', '••');
	}
}
