@import "colors";

article {
	$toc-width: 20rem;
	$content-width: 40rem;

	width: 100%;
	max-width: $toc-width + $content-width;
	display: flex;
	flex-direction: row;

	// table of contents
	nav {
		width: $toc-width;

		> ul {
			position: sticky;
			top: 0;
		}

		ul {
			list-style: none;
			padding-inline-start: 2em;

			li {
				padding-top: 0.5em;
			}
		}
	}

	// article content
	section {
		flex-basis: 40rem;
		padding: 0.5rem;

		@media (min-width: 600px) {
			padding-left: 1.5rem;
		}
	}
}