@import "colors";

article {
	$top-padding: 8rem;
	width: 100%;
	display: flex;
	flex-direction: row;
	padding-top: 5rem;

	// table of contents
	nav {
		width: 22rem;

		> ul {
			position: sticky;
			top: $top-padding;
			padding-right: 2rem;
		}

		ul {
			padding-inline-start: 2em;

			li {
				padding-top: 0.5em;
			}
		}
	}

	// article content
	section {
		flex-basis: 37.5rem;
		margin-right: 2rem;
		padding-bottom: 30vh;

		// This gives some room when using the ToC
		> [id] {
			padding-top: calc(#{$top-padding} + 0.8em);
			margin-top: -1 * $top-padding;
		}

		@media (min-width: 64rem) {
			margin-right: 7rem;
		}
	}

	h2 + pre {
		top: -2.55em;
	}

	h3 + pre {
		top: -2em;
	}

	pre {
		position: relative;
		height: 0;

		[data-lang^="rating"] {
			&:before, &:after {
				position: absolute;
				width: 2rem;
				left: -2.1rem;
				text-align: center;
			}

			&:before {
				top: -0.6rem;
			}

			&:after {
				top: 0;
			}
		}

		@mixin rating-dots($name, $before, $after: '') {
			[data-lang="#{$name}"] {
				&:before {
					content: "#{$before}";
				}
				&:after {
					content: "#{$after}";
				}
			}
		}

		@include rating-dots('rating-1', '•');
		@include rating-dots('rating-2', '•', '•');
		@include rating-dots('rating-3', '••', '•');
		@include rating-dots('rating-4', '••', '••');
		@include rating-dots('rating-5', '•••', '••');
	}
}
