@import "reset";
@import "colors";
@import "typography";

// Pages
@import "article";

body {
	margin: 0;
	background: $color-bg;
}

main {
	display: flex;
	flex-direction: row;

	> nav {
		position: fixed;
		width: 100%;
		background: $color-nav;

		ul {
			position: sticky;
			top: 0;
			display: flex;
			flex-direction: row;
			align-items: center;
		}

		li {
			a {
				border-bottom-width: 0;
				color: $color-text;
				font-weight: $font-weight-bold;
				padding: 0 1em;
				opacity: 0.6;
				transition-duration: 300ms;
				transition-property: opacity;

				&:hover {
					opacity: 1;
				}
			}

			&:first-child {
				font-size: 1.35rem;
				width: 11.5rem;
				line-height: 1.15;
				padding: 0.5rem 0.5rem 0.8rem 0.5rem;

				a {
					font-weight: $font-weight-normal;
					opacity: 1;
					display: flex;
					align-items: center;
					padding: 0;
				}

				span {
					font-size: 2.5rem;
					float: left;
					margin-right: 0.75rem;
				}
			}
		}
	}
}
