@import "reset";
@import "colors";
@import "typography";

// Pages
@import "article";

body {

	margin: 0;
	background: $color-bg;
}

main {
	display: flex;
	flex-direction: row;
	margin-left: 0.5rem;
	margin-right: 0.5rem;

	@media (min-width: 36rem) {
		margin-left: 6rem;
	}

	@media (min-width: 60rem) {
		margin-left: 11.25rem;
	}

	> nav {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		background: $color-nav;
		display: flex;
		flex-direction: row;
		z-index: 1;
		justify-content: space-between;

		ul {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			align-items: stretch;

			@media (min-width: 60rem) {
				margin-right: 3rem;
			}
		}

		a {
			border-bottom-width: 0;
			color: $color-text;
			font-weight: $font-weight-bold;
			padding: 0 1em;
			opacity: 0.6;
			transition-duration: 300ms;
			transition-property: opacity, background;
			display: flex;
			height: 100%;
			align-items: center;

			&:hover {
				opacity: 1;
				background: rgba($color-text, 0.1)
			}
		}

		// LOGO
		> a {
			font-size: 1.45rem;
			line-height: 1.15;
			padding: 0.5rem 0.5rem 0.8rem 0.5rem;
			color: $color-text;
			font-weight: $font-weight-normal;
			font-family: $font-family-heading;
			border-bottom-width: 0;
			opacity: 1;
			display: flex;
			align-items: center;

			span {
				font-size: 2rem;
				float: left;
				margin-right: 0.75rem;
			}

			@media (min-width: 60rem) {
				width: 10rem;

				span {
					font-size: 2.5rem;
				}
			}
		}
	}
}
